.container {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 20px;
}
.index_buttons {
  font-size: 13px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  color: brown;
}

 .title {
  font-size: 27px;
}

.body {
  margin-left: 30px;
  width: 60%;
  padding: 10px;
  background-color: red;
  font-size: 20px;
}
h1 {
  text-align: center;
}
.com_field {
  margin-left: 60px;
  background-color: grey;
  width: 40%;
}

.comment {
  margin :15px;
  font-size: 15px;
}
.com_head {
  text-align: center;
  font-size: 25px;
}
.glyphicon-trash {
  height: 5px;
  color: white;
}
.small_btn {
  font-size: 5px;
  background-color: white;
  height: 100px;
  width: 20px;
}
.new_post_form {
  display: none;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 50px;
}
.new_post {
  background-color: yellow;
  margin-top: 70px;
  margin-left: 100px;
  margin-bottom: 50px;
  width: 40%;
}
#magic_button {
  margin: 20px;
}
 .edit_comment {
  display: none;
 }

 .delete_post {
  font-size: 14px;
 }
