body {
   background: url("https://s-media-cache-ak0.pinimg.com/originals/d1/1a/ab/d11aab5df1dd71eeb8ce2ed6f9e33268.jpg") no-repeat center center fixed;
   background-size: cover;
}
#greeting {
  padding-top: 30px;
  font-size: 85px;
  color: white;
  font-family: cursive;
  font-weight: bolder;
}
#another_greeting {
  font-size: 50px;
  padding-top: 30px;
  color:  #CC0052;
}
#main_page {
  background-color: #FFDBDB;
  border-radius: 20px;
}
.signin, .signup {
  position: absolute;
  left: 200px;
  display: none;
}
  .container {
  height: 2000px;
  position: absolute;
  left: 200px;
}
.index_buttons {
  font-size: 13px;
  display: block;
  margin-top: 2px;
  margin-bottom: 3px;
  height: 25px;
  width: 50px;
  color: black;
  background-color: #CCCCCC;
  border: none;
  font-family: cursive;
}

 .title {
  margin-left: 50px;
  font-size: 27px;
}
.post_div {
  border-bottom-style: solid;
  border-bottom-color: white;
}

.body {
  margin-left: 30px;
  width: 60%;
  padding: 10px;
  background-color: #D6C2FF;
  font-size: 20px;

}
h1 {
  text-align: center;
}
.com_field {
  margin-left: 60px;
  background-color: #CCCCCC;
  width: 40%;
}
.add_comment {
  background-color: #FFDBDB;
  font-size: 20px;
  font-weight: bold;
  width: 80px;
  display: inline-block;
}

.comment {
  margin :15px;
  font-size: 15px;
}
.com_head {
  text-align: center;
  font-size: 25px;
}
.glyphicon-trash {
  height: 5px;
  color: white;
}
.small_btn {
  font-size: 5px;
  background-color: white;
  height: 100px;
  width: 20px;
}
.new_post_form {
  display: none;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 50px;
}
.new_post {
  margin-top: 70px;
  margin-left: 100px;
  width: 40%;
}
#magic_button {
  background-color: #FFDBDB;
  margin: 20px;
  border-color: #ffdbdb;
  font-size: 30px;
  font-family: cursive;
  font-weight: bolder;
  color: #1F1F5C;
}
 .edit_comment {
  display: none;
 }

 .delete_post {
  font-size: 14px;
 }
 .butn {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
 }
 .collapse {
   background-color: #CCCCCC;
 }
.submit_btn {
  border-radius: 5px;
  background-color: #8F8FB2;
}
.sign_form {
  font-size: 10px;
}
