body {
   background: url("https://s-media-cache-ak0.pinimg.com/originals/d1/1a/ab/d11aab5df1dd71eeb8ce2ed6f9e33268.jpg") no-repeat center center fixed;
   background-size: cover;
}
#greeting {
  padding-top: 30px;
  font-size: 45px;
  color: white;
}
#another_greeting {
  padding-top: 30px;
  color:  #CC0052;
}
#main_page {
  background-color: #FFDBDB;
}
.signin, .signup {
  float: right;
  display: none;
}
  .container {
  height: 1000px;
}
.index_buttons {
  font-size: 13px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  color: brown;
}

 .title {
  font-size: 27px;
}

.body {
  margin-left: 30px;
  width: 60%;
  padding: 10px;
  background-color: #D6C2FF;
  font-size: 20px;
}
h1 {
  text-align: center;
}
.com_field {
  margin-left: 60px;
  background-color: #CCCCCC;
  width: 40%;
}

.comment {
  margin :15px;
  font-size: 15px;
}
.com_head {
  text-align: center;
  font-size: 25px;
}
.glyphicon-trash {
  height: 5px;
  color: white;
}
.small_btn {
  font-size: 5px;
  background-color: white;
  height: 100px;
  width: 20px;
}
.new_post_form {
  display: none;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 50px;
}
.new_post {
  background-color: pink;
  margin-top: 70px;
  margin-left: 100px;
  width: 40%;
}
#magic_button {
  margin: 20px;
}
 .edit_comment {
  display: none;
 }

 .delete_post {
  font-size: 14px;
 }
 .butn {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
 }
 .collapse {
   background-color: #CCCCCC;
 }
