<div class="container">
   <form action='/authentication/signin' method='POST'>
    <label>Email address:</label><br>
    <input type='text' name='email'  placeholder='EMAIL'/><br><br>
    <label>Password:</label><br>
    <input type='password' name='password' placeholder='PASSWORD'/>
    <input type="submit" value = "SIGN IN">
  </form>
</div>
