<div class="container">
   <a href="/authentication/login"><button type="button" class="index_buttons">LOG IN</button></a>

   <a href="/authentication/signup"><button type="button" class="index_buttons">SIGN UP</button></a>

   <a href="/authentication/logout"><button type="button" class="index_buttons">LOG OUT</button></a>
</div>
