<div class="container index">
  <h1 id="greeting"> Welcome, welcome, welcome...</h1>
  <form class="signin" action='/authentication/signin' method='POST'>
    <label>Email address:</label><br>
    <input type='text' name='email'  placeholder='EMAIL'/><br><br>
    <label>Password:</label><br>
    <input type='password' name='password' placeholder='PASSWORD'/><br><br>
    <input class="index_buttons" type="submit" value = "SIGN IN">
  </form>
  <form class="signup" action='/authentication/register_user' method='POST'>
    <label>Name:</label><br>
    <input type='text' name='name'  placeholder='NAME'/><br><br>
    <label>Email:</label><br>
    <input type='text' name='email' placeholder='EMAIL'/><br><br>
    <label>Password:</label><br>
    <input type="password" name="password" placeholder="PASSWORD" /><br><br>
    <label>Confirm password:</label><br>
    <input type="password" name="password_confirm" placeholder="PASSWORD" /><br><br>
    <input class="index_buttons" type="submit" value = "SIGN UP">
  </form>
   <!-- <a href="/authentication/login"><button type="button" class="index_buttons">LOG IN</button></a>

   <a href="/authentication/signup"><button type="button" class="index_buttons">SIGN UP</button></a>

   <a href="/authentication/logout"><button type="button" class="index_buttons">LOG OUT</button></a> -->
</div>
